# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env*.local
.env

# vercel
.vercel

# cloudflare / opennext build output
.open-next
.wrangler
db/data-export.sql

# typescript
*.tsbuildinfo
next-env.d.ts
